# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://<db_name>:<db_password>@localhost:5432/bookmarker"

# Deployment configuration
NODE_ENV=""

# BASE
BASE_URL=http://localhost:3000

# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=http://localhost:3000

# Application configuration
NEXT_PUBLIC_COMPANY_NAME=""

# @see Web URL
NEXT_PUBLIC_WEBSITE_URL=""

# @see email support
NEXT_PUBLIC_SUPPORT_MAIL_ADDRESS=""
NEXT_PUBLIC_SENDER_ID=""
NEXT_PUBLIC_SENDGRID_SENDER_NAME=""

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""
AUTH_EXPIRY="30"
# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""