@import "@repo/tailwind-config/globals.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap");

@layer base {
  * {
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .divider {
    margin-top: 4px;
    height: 1.25px;
    width: 100%;
    border-radius: 50%;
    @apply bg-gray-700;
  }
}
